<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859580424251-mk66e8plq9sn6rmh8sl8bfqsajs70bqk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859580424251-mk66e8plq9sn6rmh8sl8bfqsajs70bqk</string>
	<key>API_KEY</key>
	<string>AIzaSyBshsz-8SX30o4tD8b4URisjZ05xm-SSdY</string>
	<key>GCM_SENDER_ID</key>
	<string>859580424251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kamilminkowski.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>natoczekam</string>
	<key>STORAGE_BUCKET</key>
	<string>natoczekam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859580424251:ios:b61fcf468617e398bbfc1e</string>
</dict>
</plist>